@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	text-align: center;
	font-family: 'Roboto', sans-serif;

}

#content {
	display: inline-block;
	white-space: nowrap;
}

.digit {
	display: inline-block;
	margin-right: .75cm;
}

.segment-vertical {
	float: left;
	margin-right: 3cm;
	width: .5cm;
	height: 3cm;
	background-color: gray;
}

.segment-horizontal {
	position: relative;
	margin-top: 3cm;
	left: .5cm;
	width: 3cm;
	height: .5cm;
	background-color: grey;
}

#top-segment {
	margin-top: initial;
}

#right-segment {
	margin-right: initial;
}

#input {
	margin-top: .5cm;
	text-align: center;
}

.button {
	width: 1cm;
	height: 1cm;
	font-size: 13pt;
	margin-bottom: .25cm;
}

#button-clear {
	width: 2cm;
}

#clear-check {
	width: .5cm;
	height: .5cm;
	font-size: 13px;
	vertical-align: middle;
}

#output {
	margin-top: .5cm;
	height: 10cm;
	width: 50%;
	resize: none;
}